body {
    text-align: center;
}

h1 {
    text-align: center;
    padding-top: 180px;
}

.search {
    width: 580px;
    height: 40px;
    border: 1px solid #C0C0C0;
    border-radius: 50px;  
    position: relative;
}   

i {
    color: #C0C0C0;
}

.search:before{
    content:
}

.search:hover {
    box-shadow: 3px 3px 10px 1px #DCDCDC;
}

.search:active {
    box-shadow: 3px 3px 10px 1px #DCDCDC;
    border: none;
}

/* .image {
    background-image: url('file:///Users/gerritvanleeuwen/the_odin_project/google_homepage/images/magnify.jpg');
    background-position: left;
    background-repeat: no-repeat;
} */

form {
    text-align: center;
}

.button-left {
    margin-top: 25px;
}

input[type=submit] {
    height: 35px;
    width: 135px;
    border: none;
    border-radius: 5px;
    /* padding: 15px 15px 15px 15px; */
    margin: 30px 7px;
    color: #696969;
    background-color: #F5F5F5;
    font-size: 14px;
}

input[type=submit]:hover {
    border: 1px solid gray;
}

ul {
    color: black;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: Arial;
    font-size: 13px;
}

 li {
     display: block;
     float: left;
     padding-right: 10px;
     padding-left: 10px;
 }

 li a {
    color: black;
    text-decoration: none;
 }

 li a:hover {
     text-decoration: underline;
 }

 .right {
     float: right;
 }

 footer {
    color: #696969;
    background-color: #F5F5F5;
    font-size: 14px;
 }