h1 {
    text-align: center;
    padding-top: 180px;
}

.search {
    width: 600px;
    height: 50px;
    border: thin solid lightgray; 
    border-radius: 50px;
}

form {
    text-align: center;
}



