html {
    border: none;
}

body {
    text-align: center;
    border: none;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    padding-top: 180px;
}

.search {
    width: 580px;
    height: 40px;
    border: 1px solid #E0E0E0;
    border-radius: 50px;  
    position: relative;
}   

i {
    color: #C0C0C0;
}

.search:hover {
    box-shadow: 3px 3px 10px 1px #DCDCDC;
}

.search:active {
    box-shadow: 3px 3px 10px 1px #DCDCDC;
    border: none;
}

form {
    text-align: center;
}

.button-left {
    margin-top: 25px;
}

input[type=submit] {
    height: 35px;
    width: 135px;
    border: none;
    border-radius: 5px;
    margin: 30px 7px;
    color: #696969;
    background-color: #F5F5F5;
    font-size: 14px;
}

input[type=submit]:hover {
    border: 1px solid gray;
}

ul {
    color: black;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: Arial;
    font-size: 13px;
}

 li {
     display: block;
 }

 li a {
    color: #696969;
    text-decoration: none;
 }

 li a:hover {
     text-decoration: underline;
 }

 .right {
     float: right;
     margin-right: 30px; 
 }

 .left {
     float: left;
     margin-left: 20px
 }

 footer {
    color: #696969;
    background-color: #F0F0F0;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 15px;
    padding: 15px;
    border: none; 
 }